<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.ts.mapper.TsMapper">


    <select id="selectUser" resultType="java.util.Map">

		SELECT a.*, b.auth AS AUTH
        FROM user_master a, user_auth b
       WHERE 1=1
         AND a.id = b.id
         AND a.username = #{username}

    </select>


</mapper>